<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
		 styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
	<div class="sidebar-item">
		<p>{{ site.description }}</p>
	</div>

	<!--Page links-->
	<nav class="sidebar-nav">
		<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
		<a class="sidebar-nav-item" href="/blog/">Blog</a>
		<a class="sidebar-nav-item" href="/photography/">Photography</a>
		<a class="sidebar-nav-item" href="{{ site.baseurl }}{% link _pages/about.md %}">About</a>
	</nav>

	<div class="sidebar-item">
		<div class="social-links">
			<a href="{{ site.author.github_url }}">
				<i class="fa fa-github fa-2x" aria-hidden="true"></i>
			</a>
			<a href="mailto:{{ site.author.email }}">
				<i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
			</a>
			<a href="{{ site.author.linkedin_url }}">
				<i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
			</a>
			<!--<a href="https://github.com/mirdaki">
				<i class="fa fa-reddit fa-2x" aria-hidden="true"></i>
			</a>-->
		</div>

		<p>
			&copy; {{ site.time | date: '%Y' }}. All rights reserved.
		</p>
	</div>
</div>
